In [2]:
#Declare a float value and store it in a variable. 





#Check the type and print the id of the same.


a = 10.0
print(a, type(a), id(a))

10.0 <class 'float'> 139807274115288

In [ ]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Find sum of both numbers

    #Find differce between them
    #Find the product of both numbers.

    #Find value after dividing first num with second number

    #Find the remainder after dividing first number with second number

    #Find the quotient after dividing first number with second number

    #Find the result of first num to the power of second number.

In [3]:
a = 100.4
b = 2.5
print('The sum of two numbers is ', a + b)
print('The difference of two numbers is ', a - b)
print('The product of two numbers is ', a * b)
print('The division of two numbers is ', a / b)
print('The remainder after dividing two numbers is ', a % b)
print('The quotient after dividing 1st num with 2nd num is ', a // b)
print('The result of 1st to the power of 2nd num is ', a ** b)

The sum of two numbers is  102.9
The difference of two numbers is  97.9
The product of two numbers is  251.0
The division of two numbers is  40.160000000000004
The remainder after dividing two numbers is  0.4000000000000057
The quotient after dividing 1st num with 2nd num is  40.0
The result of 1st to the power of 2nd num is  101003.00199900121

In [4]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'

        #Smaller than, '<'

        #Greater than or equal to, '>='

        #Less than or equal to, '<='

#Observe their output(return type should be boolean)

r = 30.3
v = 3.30
print(r > v)
print(r < v)
print(r >= v)
print(r <= v)

True
False
True
False

In [5]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

#Equuate them using equality operator (==, !=)

#Observe the output(return type should be boolean)

x = 2.11
y = 2.04
print(x == y)
print(x !=y)

False
True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

In [6]:
print(10.20 and 20.30)    
print(0.0 and 20.30)     
print(20.30and 0.0)     
print(0.0 and 0.0)

print(10.20 or 20.30)
print(0.0 or 20.0) 
print(20.0 or 0.0) 
print(0.0 or 0.0)  

print(not 10.20)  
print(not 0.0)

20.3
0.0
0.0
0.0
10.2
20.0
20.0
0.0
False
True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b - 10.20
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

In [8]:
a = 10.20
b = 10.20
print(a is b)
print(a is not b)

a = 10.5
b = 10.5
c = a
print(id(a), id(b), id(c))

False
True
139807135383960 139807274115216 139807135383960

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

In [13]:

print('2.7' in 'Python2.7.8')              
print(10.20 in [10,10.20,10+20j,'Python']) 
print(10.20 in (10,10.20,10+20j,'Python')) 
print(20.30 in {1,20.30,30+40j})           
print(2.3 in {1:100, 2.3:200, 30+40j:300}) 
print(10.0 in range(20))

True
True
True
True
True
True