In [1]:
#Declare an int value and store it in a variable. 



#Check the type and print the id of the same.

a = 10
print(a, type(a))

10 <class 'int'>

In [3]:
#Take one int value between 0 - 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come same. Check why?




#Take one int value either less than -5 or greater than 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come different.Check why?


r = 3
v = 30
print(id(r), id(v))

s = 300
v = -100
print(id(r), id(v))

10914560 10915424
10914560 140180450765392

In [ ]:
#Arithmatic Operations on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Find sum of both numbers
    #Find differce between them
    #Find the product of both numbers.
    #Find value after dividing first num with second number
    #Find the remainder after dividing first number with second number
    #Find the quotient after dividing first number with second number
    #Find the result of first num to the power of second number.

In [5]:
a = 100
b = 2
print('The sum of two numbers is ', a + b)
print('The difference of two numbers is ', a - b)
print('The product of two numbers is ', a * b)
print('The division of two numbers is ', a / b)
print('The remainder after dividing two numbers is ', a % b)
print('The quotient after dividing 1st num with 2nd num is ', a // b)
print('The result of 1st to the power of 2nd num is ', a ** b)

The sum of two numbers is  102
The difference of two numbers is  98
The product of two numbers is  200
The division of two numbers is  50.0
The remainder after dividing two numbers is  0
The quotient after dividing 1st num with 2nd num is  50
The result of 1st to the power of 2nd num is  10000

In [ ]:
#Comparison Operators on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Compare se two numbers with below operator:-
        #Greater than, '>'
        #Smaller than, '<'
        #Greater than or equal to, '>='
        #Less than or equal to, '<='
#Observe their output(return type should be boolean)

In [7]:
r = 30
v = 3
print(r > v)
print(r < v)
print(r >= v)
print(r <= v)

True
False
True
False

In [ ]:
#Equality Operator
#Take two different intger values.
#Store them in two different variables.
#Equuate them using equality operator (==, !=)
#Observe the output(return type should be boolean)

In [8]:
x = 20
y = 200
print(x == y)
print(x !=y)

False
True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10 and 20)       #----------------------------------------->Output is 20
print(0 and 20)        #----------------------------------------->Output is 0
print(20 and 0)        #----------------------------------------->Output is 0
print(0 and 0)         #----------------------------------------->Output is 0

print(10 or 20)        #----------------------------------------->Output is 10
print(0 or 20)         #----------------------------------------->Output is 20
print(20 or 0)         #----------------------------------------->Output is 20
print(0 or 0)          #----------------------------------------->Output is 0

print(not 10)          #----------------------------------------->Output is False
print(not 0)           #----------------------------------------->Output is True

In [9]:
print(10 and 20)    
print(0 and 20)     
print(20 and 0)     
print(0 and 0)

print(10 or 20)
print(0 or 20) 
print(20 or 0) 
print(0 or 0)  

print(not 10)  
print(not 0)

20
0
0
0
10
20
20
0
False
True

In [ ]:
#Bitwise Operators
#Do below operations on the values provided below:-
    #Bitwise and(&) -----------------------------------------> 10, 20   -------> Output is 0
    #Bitwise or(|)  -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise(^)     -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise negation(~) ------------------------------------> 10       -------> Output is -11
    #Bitwise left shift  ------------------------------------> 10,2     -------> Output is 40
    #Bitwise right shift ------------------------------------> 10,2     -------> Output is 2
#Cross check the output manually

In [15]:
print(10 & 20)
print(10 | 20)
print(10 ^ 20)
print(~10)
print(10<<2)
print(10>>2)

0
30
30
-11
40
2

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10
b = 10
print(a is b)          #True or False?
print(a is not b)      #True or False?

a = 1000
b = 1000
print(a is b)          #True or False?
print(a is not b)      #True or False?

In [17]:
a = 10
b = 10
print(a is b)         
print(a is not b)     

a = 1000
b = 1000
print(a is b)         
print(a is not b)

True
False
False
True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
print(10+(10*32)//2**5&20+(~(-10))<<2)

In [18]:
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2' in 'Python2.7.8')
print(10 in [10,10.20,10+20j,'Python'])
print(10 in (10,10.20,10+20j,'Python'))
print(2 in {1,2,3})
print(3 in {1:100, 2:200, 3:300})
print(10 in range(20))

In [19]:
print('2' in 'Python2.7.8')
print(10 in [10,10.20,10+20j,'Python'])
print(10 in (10,10.20,10+20j,'Python'))
print(2 in {1,2,3})
print(3 in {1:100, 2:200, 3:300})
print(10 in range(20))

True
True
True
True
True
True

In [ ]:
#An integer can be represented in binary, octal or hexadecimal form.
#Declare one binary, one octal and one hexadecimal value and store them in three different variables.
#Convert 9876 to its binary, octal and hexadecimal equivalent and print their corresponding value.

In [6]:
a = 0b10011010010100
b = 0o23224
c= 0x2694
print(a)
print(b)
print(c)

print(bin(9876))
print(oct(9876))
print(hex(9876))

9876
9876
9876
0b10011010010100
0o23224
0x2694

In [7]:
#What will be the outut of following:-
a = 0b1010000
print(a)

b = 0o7436
print(b)

c = 0xfade
print(c)

print(bin(80))

print(oct(3870))

print(hex(64222))

print(bin(0b1010000))

print(bin(0xfade))

print(oct(0xfade))

print(oct(0o7436))

print(hex(0b1010000))

print(hex(0xfade))

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade