In [3]:
#Declare a string and store it in a variable. 

a = 'This is python class'
print(a)

#Check the type and print the id of the same.
 
print(type(a))
print(id(a))

This is python class
<class 'str'>
1549698618752

In [6]:
#Which are valid/invalid strings
1. 'This is Python class'
valid

2. "This is Python class"
valid

3. '''This is Python class'''
valid

4. """This is Python class"""
valid

5. 'This is Python's class'
invalid

6. "Learnbay provides "Java", "Python" classes"
invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid

8. "This is Python's class"
valid

9. """Learnbay provides "Java", "Python" classes"""
valid/

10. '''Learnbay provides "Java", "Python" classes'''
valid

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid

12. 'This is
Python 
class'
invalid

In [8]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print('The length of my_str is',len(my_str))
#output:- The length of my_str is 66

print('id of my_str and my_str1 is same? - ',id(my_str) is id(my_str1))
#output:- id of my_str and my_str1 is same? - False

print('Type of my_str is:',str(type(my_str))[8:11])
#output:- Type of my_str is: str

The length of my_str is 66
id of my_str and my_str1 is same? -  False
Type of my_str is: str

In [25]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print('The first character in my_str is:', my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print('The first character in my_str is:',my_str[-len(my_str)])
#output:- The first character in my_str is: A
#Note:- Use len() function.

print('The character at index 10 in my_str is:', my_str[9:11])
#output:- The character at index 10 in my_str is: 8
#Note:- Use positive indexing

print('The last character in my_str is:', my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print('The last character in my_str is:', my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print('The character in my_str is:', my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

The first character in my_str is: A
The first character in my_str is: A
The character at index 10 in my_str is: 8
The last character in my_str is: h
The last character in my_str is: h
The character in my_str is: 8

In [65]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
print(my_str[::])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print(my_str[0:len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print(my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print(my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print(my_str[0:1:-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print(my_str[0:len(my_str):2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print(my_str[0:len(my_str):3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print(my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print(my_str[-1:-(len(my_str)+1):-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print(my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print(my_str[-1:-(len(my_str)+1):-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?


print(my_str[16:10:-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str[49:56:1])
#output:- You have sliced: ess you. Using begin, end and step.

Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.

Atog htwymyntb biu tfrtuls o'eDth
Ahgttam tebo  r lsorDc
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.cu ruysen si asovoe o a a athuhl
.cu ruysen si asovoe o a a athuhl

yaw ta
ess you

In [75]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python
print(str1+' '+str2)

#Error: TypeError: can only concatenate str (not "int") to str

# print(str1 + 10)

#Error: TypeError: can only concatenate str (not "float") to str

# print(str2 + 20.10)

#Find below Output
#Output is: LearnbayLearnbayLearnbay
print(str1*3)

#Error: TypeError: can't multiply sequence by non-int of type 'float'

# print(str1*10.20)

#Error: TypeError: can't multiply sequence by non-int of type 'str'

#print(str1*str2)

Learnbay Python
LearnbayLearnbayLearnbay

In [81]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2
print(str1 is str2)

#print False by using identity operator between str1 and str3
print(str1 is str3)

#print False by using identity operator between str4 and str3
print(str4 is str3)

#Check if P is available in str1 and print True by using membership operator
print('p' in str1)

#Check if $ is available in str3 and print True by using membership operator
print('$' in str3)

#Check if N is available in str3 and print False by using membership operator
print('N' in str3)

True
False
False
False
True
False

In [85]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

str1[8:14] = 'Java'

TypeError: 'str' object does not support item assignment

In [89]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)

True
True
False
False

In [97]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)

True
True
False
False

In [106]:
str1 = 'A'
str2 = 65
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'
# print(str1>=str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

True
False

In [114]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print(str1>=str2)

#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)

True
True
False
False

In [118]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator
print(str1<=str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>=str2)

True
True
False
False

In [128]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print('a and b:',a and b)
print('a or b:',a or b)
print(not a)
print(not b)

a and b:
a or b: Python
False
True

In [129]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print('a and b:',a and b)
print('a or b:',a or b)
print(not a)
print(not b)

a and b:
a or b:
True
True

In [131]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print('a and b:',a and b)
print('a or b:',a or b)
print(not a)
print(not b)

a and b: learnbay
a or b: Python
False
False

In [147]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
# print(my_str.find('t'))
# print(my_str.index('t'))

# using find() method
index_value = -1
count = 0
while True:
    index_value = my_str.find('t', index_value + 1)
    if index_value == -1:
        break
    else:
        count += 1
print(count)

# using index() method
index_value = -1
count = 0
while True:
    try:
        index_value = my_str.index('t', index_value + 1)
    except ValueError:
        break
    else:
        count += 1
print(count)


#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.find('8'))
print(my_str.index('8'))

#What will be the output of below code?
# print(my_str.find('the'))
# substring not found

# print(my_str.index('the'))
# substring not found

print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

7
7
9
9
11
63
63

In [154]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'

#input:- '    Python'
#output:- 'Python'

#input:- 'Python   '
#output:- 'Python'

my_str = input('Enter the string: ')
if my_str.startswith(' ') and my_str.endswith(' '):
    print(my_str.strip())
elif my_str.startswith(' '):
    print(my_str.lstrip())
else:
    print(my_str.rstrip())

Enter the string:         python
python

In [160]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [170]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

my_str = input('Enter the String: ')
if my_str[0].islower():
    print(my_str.capitalize())
else:
    print(my_str.title())

Enter the String: this is python class
This is python class

In [180]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

str = input('Enter the string: ')

print("Is ",str," alphanumeric?",str.isalnum())
print("Does ",str," has only alphabets?",str.isalpha())
print("Is ",str," digit?",str.isdigit())
print("Are all letters ",str," in lower case?",str.islower())
print("Are all letters ",str," in upper case?",str.isupper())
print("Is ",str," in title case?",str.istitle())
print("Is ",str," a space character?",str.isspace())
print("Is ",str," numeric?",str.isnumeric())
print("Are all numbers in ",str," are decimal?",str.isdecimal())

Enter the string: aplha123
Is  aplha123  alphanumeric? True
Does  aplha123  has only alphabets? False
Is  aplha123  digit? False
Are all letters  aplha123  in lower case? True
Are all letters  aplha123  in upper case? False
Is  aplha123  in title case? False
Is  aplha123  a space character? False
Is  aplha123  numeric? False
Are all numbers in  aplha123  are decimal? False

In [185]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

str = input('Enter the string: ')
print(str.isidentifier())

Enter the string: sonu123
True

In [186]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

True
False
False
True

In [187]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

True
True
True
True
False
False

In [188]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [189]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)
print('python'.ljust(8,'*'))

#Write the code to get below output
#O/P 1:- **python (using rjust method)
print('python'.rjust(8,'*'))

#Write the code to get below output
#O/P 1:- **python** (using rjust method)
print('python'.center(10,'*'))

python**
**python
**python**

In [190]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

my_str = 'Write a Python program to find the length of the my_str'
print(len(my_str))

55

In [191]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str.count('p'))

9

In [192]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

str1 = 'peter piper picked a peck of pickled peppers.'
for i in range(len(str1)):
    if(str1[i] == 'p' ):
        print(i)

0
6
8
12
21
29
37
39
40

In [193]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str.split())

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [195]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

my_str = 'peter piper picked a peck of pickled peppers.'
print(' '.join(my_str.split()[::-1]))

peppers. pickled of peck a picked piper peter

In [196]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str[::-1])

.sreppep delkcip fo kcep a dekcip repip retep

In [199]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

s = ' '.join([i[::-1] for i in my_str.split()])
print(s)

retep repip dekcip a kcep fo delkcip .sreppep

In [198]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

my_str = 'peter piper picked a peck of pickled peppers.'
print(my_str.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [201]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(my_str.lower())

peter piper picked a peck of pickled peppers.

In [202]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(my_str.find('Pickl'))

29

In [209]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(my_str.replace('Peck','Pack'))

Peter Piper Picked A Pack Of Pickled Peppers.

In [203]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'


my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'

index_1 = my_str.find('Peck')
s1 = 'Peck'.rjust(len(my_str)-index_1,'*')
print(s1.ljust(len(my_str),'*'))

********************Peck*********************