In [2]:
#Declare a string and store it in a variable. 



#Check the type and print the id of the same.

my_str = 'Ayush'
print(my_str, type(my_str), id(str))

Ayush <class 'str'> 10306880

In [3]:
#Which are valid/invalid strings
1. 'This is Python class'
valid/invalid 
Valid

2. "This is Python class"
valid/invalid
valid

3. '''This is Python class'''
valid/invalid
valid

4. """This is Python class"""
valid/invalid
valid

5. 'This is Python's class'
valid/invalid
Invalid

6. "Learnbay provides "Java", "Python" classes"
valid/invalid
Invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid
Valid

8. "This is Python's class"
valid/invalid
Invalid

9. """Learnbay provides "Java", "Python" classes"""
valid/invalid
Valid

10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid   
Vakud

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid
Valid

12. 'This is
Python 
class'
valid/invalid
Invalid

SyntaxError: ignored

In [8]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print('The length of my_str is ', len(my_str))
#output:- The length of my_str is 66

print(id(my_str), id(my_str1))
#output:- id of my_str and my_str1 is same? - True

print('Type of my_str is: ', type(my_str))
#output:- Type of my_str is: str

The length of my_str is  66
140612324363720 140612324365056
Type of my_str is:  <class 'str'>

In [14]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print('The first character in my_str is: ', my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print('The last character in my_str is: ', my_str[len(my_str)-1])
#output:- The first character in my_str is: h
#Note:- Use len() function.

print('The character at index 10 in my_str is: ',my_str[11])
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print('The last character in my_str is: ', my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print('The last character in my_str is: ', my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print('The character in my_str is: ',my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

The first character in my_str is:  A
The last character in my_str is:  h
The character at index 10 in my_str is:  t
The last character in my_str is:  h
The last character in my_str is:  h
The character in my_str is:  8

In [43]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing

print('You have sliced: ' + my_str)
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print('You have sliced: ' + my_str[0:len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print('You have sliced: ' + my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print('You have sliced: ' + my_str[0:-1:1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print('You have sliced: ' + my_str[0:0:-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print('You have sliced: ' + my_str[0:-1:2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print('You have sliced: ' + my_str[0:-1:3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print('You have sliced: ' + my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print('You have sliced: ' + my_str[-1:0:-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print('You have sliced: ' + my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print('You have sliced: ' + my_str[-1:0:-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print('You have sliced: ' + my_str[10:17:-1])
#What will be the output?


print('You have sliced: ' + my_str[16:10:-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str.find('ess'))
print('You have sliced: ' + my_str[49:56:1])
#output:- You have sliced: ess you. Using begin, end and step.

You have sliced: Although that way may not be obvious at first unless you're Dutch.
You have sliced: Although that way may not be obvious at first unless you're Dutch.
You have sliced: Although that way may not be obvious at first unless you're Dutch.
You have sliced: Although that way may not be obvious at first unless you're Dutch
You have sliced:
You have sliced: Atog htwymyntb biu tfrtuls o'eDth
You have sliced: Ahgttam tebo  r lsorDc
You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtl
You have sliced: .cu ruysen si asovoe o a a athuhl
You have sliced: .cu ruysen si asovoe o a a athuhl
You have sliced:
You have sliced: yaw ta
49
You have sliced: ess you

In [51]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.

print(str1 + ' ' + str2)
#Output is: Learnbay Python

# print(str1 + 1)
#Error: TypeError: can only concatenate str (not "int") to str

# print(str + 1.0)
#Error: TypeError: can only concatenate str (not "float") to str

print(str1 * 3)
#Find below Output
#Output is: LearnbayLearnbayLearnbay

#print(str1 * 3.0)
#Error: TypeError: can't multiply sequence by non-int of type 'float'

# print(str1 * str2)
#Error: TypeError: can't multiply sequence by non-int of type 'str'

Learnbay Python
LearnbayLearnbayLearnbay

In [64]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

print(str1 is str2)
# #print True by using identity operator between str1 and str2

print(str1 is not str2)
# #print False by using identity operator between str1 and str3

print(str3 is str4)
# #print False by using identity operator between str4 and str3

if ('P' in str1):
  print('True')
# #Check if P is available in str1 and print True by using membership operator

if ('$' in str3):
  print('True')
#Check if $ is available in str3 and print True by using membership operator

if ('N' not in str3):
  print('False')

#Check if N is available in str3 and print False by using membership operator

True
False
False
True
True
False

In [75]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.

str1[8:14:1].replace('Java')

TypeError: ignored

In [81]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator

print(str1 >= str2)

#Compare str1 and str2 and print True using equality operator
print(str1 == str2)

#Compare str1 and str2 and print False using equality operator
print(str1 != str2)

#Compare str1 and str2 and print False using comparison operator
print(str1 < str2)

True
True
False
False

In [86]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print(str1 < str2)

#Compare str1 and str2 and print True using equality operator
print(str1 != str2)

#Compare str1 and str2 and print False using equality operator
print(str1 == str2)

#Compare str1 and str2 and print False using comparison operator
print(str1 > str2)

True
True
False
False

In [93]:
str1 = 'A'
str2 = '65'

# print(str1 >= 65)
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

print(str1 != str2)
#Compare str1 and str2 and print True using equality operator

print(str1 == str2)
#Compare str1 and str2 and print False using equality operator

True
False

In [95]:
str1 = 'Python'
str2 = 'Python'

print(str1 >= str2)
#Compare str1 and str2 and print True using comparison operator

print(str1 == str2)
#Compare str1 and str2 and print True using equality operator

print(str1 != str2)
#Compare str1 and str2 and print False using equality operator

print(str1 <= str2)
#Compare str1 and str2 and print False using comparison operator

True
True
False
True

In [99]:
str1 = 'Python'
str2 = 'python'

print(str1 <= str2)
#Compare str1 and str2 and print True using comparison operator

print(str1 != str2)
#Compare str1 and str2 and print True using equality operator

print(str1 == str2)
#Compare str1 and str2 and print False using equality operator

print(str1 >= str2)
#Compare str1 and str2 and print False using comparison operator

True
True
False
False

In [106]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)
print(not b)
print()

Python
False
True

In [107]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)

True

In [108]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)
print(not b)

learnbay
Python
False
False

In [130]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print(my_str.count('t'))
print(my_str.find('t'))
print(my_str.index('t'))

#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.find('8'))
print(my_str.index('8'))

#What will be the output of below code?
print(my_str.find('the'))


# print(my_str.index('the'))


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))
print(len(my_str))

7
2
2
9
9
-1
11
63
63
67

In [133]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
a = '    Python   '
print(a.strip())
#output:- 'Python'

print(a.lstrip())
#input:- '    Python'
#output:- 'Python'
print(a.rstrip())
#input:- 'Python   '
#output:- 'Python'

Python
Python
    Python

In [136]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [174]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.
import string
i = string.ascii_lowercase

inp_str = input('Enter a string')
if inp_str[0] in i:
    print(inp_str.capitalize())
else:
    print(inp_str.title())

Enter a stringhi this is vijay
Hi this is vijay

In [184]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

get_inp = input('Enter a string')
print(get_inp.isalnum())
print(get_inp.isalpha())
print(get_inp.isdigit())
print(get_inp.islower())
print(get_inp.isupper())
print(get_inp.istitle())
print(get_inp.isspace())
print(get_inp.isnumeric())
print(get_inp.isdecimal())

Enter a string4324324.234341343242adsfasd
False
False
False
True
False
False
False
False
False

In [11]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

ab1c = input('enter a string')

print(ab1c.isidentifier())

enter a string34324vs
False

In [12]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

True
False
False
True

In [14]:
#What will be output of below code?
import string
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

AttributeError: ignored

In [17]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
    print(firstString.casefold())
    print(secondString.casefold())
else:
    print('The strings are not equal.')

The strings are equal.
der fluss
der fluss

In [29]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)
my_str = 'python'
my_str_op = my_str.ljust(8,'*')
print(my_str_op)

#Write the code to get below output
#O/P 1:- **python (using rjust method)
my_str = 'python'
my_str_op = my_str.rjust(8,'*')
print(my_str_op)


#Write the code to get below output
#O/P 1:- **python** (using rjust method)
my_str = 'python**'
my_str_op = my_str.rjust(10,'*')
print(my_str_op)

python**
**python
**python**

In [32]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55

x = 'Write a Python program to find the length of the my_str'
print(len(x))

55

In [33]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

x = 'peter piper picked a peck of pickled peppers.'
print(x.count('p'))

9

In [53]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40

x = 'peter piper picked a peck of pickled peppers.'
for i in range(0, len(x)):
  if(x[i]) == 'p':
    print(x.find('p',i))

0
6
8
12
21
29
37
39
40

In [59]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

x = 'peter piper picked a peck of pickled peppers.'
print(x.split(" "))

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [61]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'

x = 'peter piper picked a peck of pickled peppers.'
print(x.split(" ")[::-1])

['peppers.', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']

In [60]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'

x = 'peter piper picked a peck of pickled peppers.'
print(x[::-1].split(" "))

['.sreppep', 'delkcip', 'fo', 'kcep', 'a', 'dekcip', 'repip', 'retep']

In [ ]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

In [76]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

x = 'peter piper picked a peck of pickled peppers.'
print(x.title())

Peter Piper Picked A Peck Of Pickled Peppers.

In [77]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'

x = 'Peter Piper Picked A Peck Of Pickled Peppers.'
print(x.capitalize())

Peter piper picked a peck of pickled peppers.

In [82]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Pickl'
for i in range(0, len(my_str)):
  if (my_str.find(sub_str)):
     print(my_str.find(sub_str))
     break

29

In [87]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first 
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'
new_str = 'Pack'

if my_str.find(sub_str) != -1:
  print(my_str.replace(sub_str, new_str))

Peter Piper Picked A Pack Of Pickled Peppers.

In [103]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'

my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'
left_str = my_str.partition(sub_str)[0]
print(left_str)
right_str = my_str.partition(sub_str)[-1]
print(right_str)
left_just = sub_str.rjust(len(left_str),'*')
print(left_just)
right_just = left_just.ljust(len(my_str), '*')
print(right_just)

Peter Piper Picked A
 Of Pickled Peppers.
*****************Peck
*****************Peck************************