In [5]:
#Declare a float value and store it in a variable. 
my_float = 1.00
print('type of my_float-', type(my_float))
print('id of my_float-', id(my_float))





#Check the type and print the id of the same.

type of my_float- <class 'float'>
id of my_float- 2208441113984

In [10]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
flt1 = float(input('enter float number1 - '))
flt2 = float(input('enter float number2 - '))

print('sum of both numbers', flt1+flt2)
print('differce between them', flt1-flt2)
print('product of both numbers', flt1*flt2)
print('dividing first num with second number', flt1/flt2)
print('remainder after dividing first number with second number', flt1%flt2)
print('quotient after dividing first number with second number', flt1//flt2)
print('result of first num to the power of second number', flt1**flt2)

#Do below operations on them:-
    #Find sum of both numbers

    #Find differce between them
    #Find the product of both numbers.

    #Find value after dividing first num with second number

    #Find the remainder after dividing first number with second number

    #Find the quotient after dividing first number with second number

    #Find the result of first num to the power of second number.

enter float number1 - 3.5
enter float number2 - 1.5
sum of both numbers 5.0
differce between them 2.0
product of both numbers 5.25
dividing first num with second number 2.3333333333333335
remainder after dividing first number with second number 0.5
quotient after dividing first number with second number 2.0
result of first num to the power of second number 6.547900426854397

In [11]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'

        #Smaller than, '<'

        #Greater than or equal to, '>='

        #Less than or equal to, '<='

#Observe their output(return type should be boolean)

flt1 = float(input('enter float number1 - '))
flt2 = float(input('enter float number2 - '))

print('Greater than', flt1>flt2)
print('Smaller than', flt1<flt2)
print('Greater than or equal to', flt1>=flt2)
print('Less than or equal', flt1<=flt2)

enter float number1 - 5.5
enter float number2 - 4.9
Greater than True
Smaller than False
Greater than or equal to True
Less than or equal False

In [13]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

#Equuate them using equality operator (==, !=)

#Observe the output(return type should be boolean)

flt1 = float(input('enter float number1 - '))
flt2 = float(input('enter float number2 - '))

print('equality operator', flt1==flt2)
print('inequality operator', flt1!=flt2)

enter float number1 - 1.1
enter float number2 - 1.10000000000000000000000000000000
equality operator True
inequality operator False

In [14]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [18]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
c=a
print(a is c)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

True
True

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [19]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

True
True
True
True
True
True